{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
  // "env": {
  //   "test": {
  //     "presents": [
  //       [
  //         "@babel/present-env",
  //         {
  //           "targets": {
  //             "node": "current"
  //           }
  //         }
  //       ]
  //     ]
  //   }
  // }
}